/* CLASSES */
.logo-main
    height: 40px

.separate ul, .after > div
    background: white

.separate p, .separate p *, .after > div p
    color: black
.separate div
    button
        box-shadow: inset 0 0 0 1px red !important
        margin-right: 10px
    input
        margin-top: 10px
        width: 173px
        padding-left: 8px
        height: 38px
        padding-bottom: 3px
    .buy
        border-radius: 0 !important
        box-shadow: none !important