/* MAIN */
main
    background: $black

.main
    border: 6px solid $red
    position: relative
    min-height: 100%
    > div
        &:first-child
            position: relative
            &:before
                box-shadow: inset 0 0 40px 55px $black
                background: rgba($black, .5)
                content: ''
                pointer-events: none
                position: absolute
                height: 100%
                width: 100%
                z-index: 1
                left: 0
                top: 0

/* MEDIA */
@media (min-width: 768px)
    .main
        border: 12px solid $red
        > div
            &:first-child
                &:before
                    box-shadow: inset 0 0 250px 125px $black, inset 0 -100px 100px 0 $black
                    background: transparent
