.rates
    main
        .main
            padding-bottom: 100px
            padding-top: 167px
    table
        background: $white
        width: 600px
        th, td
            padding: 10px 15px
            color: $black
        tr
            box-shadow: 0 1px 0 0 $black