@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
/* COLORS */
/* VARIABLES */
/* CLASSES */
.logo-main {
  height: 20px;
}

.carousel-caption {
  box-shadow: 0 -50px 30px -30px #000000;
  position: relative;
  margin: 0 0 30px;
  padding-top: 0;
  bottom: 0;
  left: 0;
}

/* MEDIA */
@media (min-width: 768px) {
  .logo-main {
    height: 40px;
  }

  .carousel-caption {
    padding-top: 1.25rem;
    position: absolute;
    box-shadow: none;
    bottom: 1.25rem;
    margin: 0;
    left: 15%;
  }
}
/* LOADING */
#loading {
  justify-content: center;
  align-items: center;
  background: #000000;
  position: fixed;
  display: flex;
  color: #ffffff;
  height: 100%;
  width: 100%;
  z-index: 3;
}
#loading.hide {
  pointer-events: none;
  opacity: 0;
}

/* GENERAL STYLES */
html, body {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  background: #000000;
}
body:before {
  content: "";
  position: absolute;
  height: 6px;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background: #ff0000;
}
body.wScroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

* {
  transition-duration: 250ms;
  color: #ffffff;
}

input, dl, dd, dt {
  color: #000000;
}

ul {
  list-style: none;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
  color: #000000 !important;
  background: #ffffff !important;
  border: 1px solid #ffffff !important;
  border-radius: 0 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.btn.active, .btn:hover {
  color: #ffffff !important;
  background: #ff0000 !important;
  border: 1px solid #ff0000 !important;
}

h3, h4 {
  color: #ff0000;
}
h3 span, h4 span {
  position: relative;
  width: 200px;
  height: 6px;
  display: flex;
  left: calc(-3rem + 12px);
  background: #ff0000;
}

h5 {
  color: #000000;
}

/* MEDIA */
@media (min-width: 768px) {
  body:before {
    height: 12px;
  }
}
/* HEADER */
header {
  pointer-events: none;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0;
  z-index: 2;
  padding: 0 31px;
}
header > div {
  border-bottom: 1px solid #ffffff;
}
header > div a {
  pointer-events: auto;
}
header .navbar {
  pointer-events: auto;
  position: absolute;
}
header .navbar .container-fluid .navbar-toggler {
  background: transparent !important;
  z-index: 1;
  height: 38px;
  width: 38px;
  padding: 0;
  align-items: center;
  justify-content: center;
}
header .navbar .container-fluid .collapse, header .navbar .container-fluid .collapsing {
  transition-duration: 250ms;
  position: fixed;
  width: 100%;
  height: 100%;
  background: red;
  top: 0;
  left: 0;
}
header .navbar .container-fluid .collapse:not(.show), header .navbar .container-fluid .collapsing:not(.show) {
  transition-duration: 250ms;
  pointer-events: none;
  display: block;
  opacity: 0;
}
header .navbar .container-fluid .collapse:not(.show) ~ button span:last-child, header .navbar .container-fluid .collapsing:not(.show) ~ button span:last-child {
  display: none;
}
header .navbar .container-fluid .collapse.show, header .navbar .container-fluid .collapsing.show {
  transition-duration: 250ms;
  pointer-events: auto;
  opacity: 1;
}
header .navbar .container-fluid .collapse.show ~ button span:first-child, header .navbar .container-fluid .collapsing.show ~ button span:first-child {
  display: none;
}
header .navbar .container-fluid .collapse .navbar-nav, header .navbar .container-fluid .collapsing .navbar-nav {
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  height: 100%;
}
header .navbar .container-fluid .collapse .navbar-nav a, header .navbar .container-fluid .collapsing .navbar-nav a {
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  padding: 0;
}
header .navbar .container-fluid .collapse .navbar-nav a.active, header .navbar .container-fluid .collapse .navbar-nav a:hover, header .navbar .container-fluid .collapsing .navbar-nav a.active, header .navbar .container-fluid .collapsing .navbar-nav a:hover {
  color: #000000;
}
header .navbar ~ div {
  padding: 31px 0;
}

/* MEDIA */
@media (min-width: 768px) {
  header {
    padding: 0 62px;
    top: 12px;
  }
}
/* MAIN */
main {
  background: #000000;
}

.main {
  border: 6px solid #ff0000;
  position: relative;
  min-height: 100%;
}
.main > div:first-child {
  position: relative;
}
.main > div:first-child:before {
  box-shadow: inset 0 0 40px 55px #000000;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

/* MEDIA */
@media (min-width: 768px) {
  .main {
    border: 12px solid #ff0000;
  }
  .main > div:first-child:before {
    box-shadow: inset 0 0 250px 125px #000000, inset 0 -100px 100px 0 #000000;
    background: transparent;
  }
}
.home main .main {
  padding-bottom: 100px;
}
.home main .main ul {
  flex-direction: column;
  margin: 112px 0 0;
  padding: 0 25px;
  display: flex;
  width: 100%;
}
.home main .main ul li {
  width: 100%;
}
.home main .main ul li div {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}
.home main .main ul li img {
  width: 100%;
}
.home main .main ul li span {
  position: absolute;
  margin-left: -50px;
  margin-top: -19px;
  opacity: 0;
  left: 50%;
  top: 50%;
}
.home main .main ul li:hover img {
  opacity: 0.5;
}
.home main .main ul li:hover span {
  opacity: 1;
}
.home main .main ul li + li {
  margin-top: 50px;
}
.home main .main ul.allMovies {
  display: inline-block;
}
.home main .main ul.allMovies li {
  display: inline-block;
}
.home main .main ul ~ div {
  display: none !important;
}

/* MEDIA */
@media (min-width: 768px) {
  .home main .main {
    padding-bottom: 100px;
  }
  .home main .main ul {
    flex-direction: row;
    margin: 167px 0 0;
    padding: 0 50px;
  }
  .home main .main ul li {
    width: calc(100% / 3);
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .home main .main ul li:nth-child(1), .home main .main ul li:nth-child(4) {
    padding-right: 20px;
  }
  .home main .main ul li:nth-child(2), .home main .main ul li:nth-child(5) {
    padding-left: 10px;
    padding-right: 10px;
  }
  .home main .main ul li:nth-child(3) {
    padding-left: 20px;
  }
  .home main .main ul li:nth-child(1n+4) {
    display: none;
  }
  .home main .main ul li + li {
    margin: 0;
  }
  .home main .main ul ~ div {
    display: flex !important;
  }
}
.rates main .main {
  padding: 167px 25px 100px;
}
.rates table {
  background: #ffffff;
  max-width: 600px;
  width: 100%;
}
.rates table th, .rates table td {
  padding: 10px 15px;
  color: #000000;
}
.rates table tr {
  box-shadow: 0 1px 0 0 #000000;
}

.movie p {
  padding-left: 25px;
  padding-right: 25px;
}
.movie .separate p {
  padding: 0;
}
.movie .separate ul li {
  background: #ffffff;
}
.movie .separate ul li + li {
  margin-top: 20px;
}
.movie .separate ul li > div.collapsing ~ button .add,
.movie .separate ul li > div.collapsing ~ button .remove {
  display: none;
}
.movie .separate ul li > div.collapse ~ button .remove {
  display: none;
}
.movie .separate ul li > div.collapse.show ~ button .add {
  display: none;
}
.movie .separate ul li > div.collapse.show ~ button .remove {
  display: block;
}
.movie .separate ul li > button {
  background: transparent;
  border: none;
  padding: 0;
}
.movie .separate ul li > button span {
  color: #ff0000;
}
.movie .separate p, .movie .separate p * {
  color: black;
}
.movie .separate div .btn {
  box-shadow: inset 0 0 0 1px red !important;
  margin-right: 10px;
}
.movie .separate div input {
  margin-top: 10px;
  width: 173px;
  padding-left: 8px;
  height: 38px;
}
.movie .separate div .buy {
  border-radius: 0 !important;
}
.movie .after > div:nth-child(2) {
  background: white;
}
.movie .after > div p {
  color: black;
  padding: 0;
}

/* FOOTER */
footer {
  background: #ffffff;
}
footer div > ul {
  flex-direction: column;
}
footer div > ul > li {
  width: 100%;
}
footer div > ul > li + li {
  margin-top: 25px;
}
footer div > ul > li li {
  color: #000000;
}

/* MEDIA */
@media (min-width: 768px) {
  footer div > ul {
    flex-direction: row;
  }
  footer div > ul > li {
    width: 30%;
  }
  footer div > ul > li + li {
    margin: 0;
  }
}
.carousel-caption {
  z-index: 1;
}

.toTop {
  transition-duration: 250ms;
  justify-content: center;
  pointer-events: none;
  align-items: center;
  background: #000000;
  position: fixed;
  cursor: pointer;
  display: flex;
  height: 38px;
  bottom: 28px;
  right: 40px;
  width: 38px;
  opacity: 0;
}
.toTop.show {
  pointer-events: auto;
  opacity: 1;
}
.toTop * {
  color: #ffffff;
}
.toTop:hover {
  background: #ff0000;
}
